$plus-jacarta: 'Plus Jakarta Sans';
/*
**************************** COLORS ****************************
*/

$white-color:#fff;
$primary-color:#13183F;
$text-color:#83869A;
$btn-hover:#666CA3;
$link-color: #F74780;



/**************************** FONTS ****************************
*/
$font-weight-regular:400;
$font-weight-medium:500;
$font-weight-bold:700;
$font-weight-extrabold:800;

/**************************** TITTLE****************************
*/


$tittle-max-size:5.6rem;
$tittle-max-line:1.26;

$tittle-middle-size:4rem;
$tittle-middle-line:1.26;

$tittle-normal-size:3.2rem;
$tittle-normal-line:1.25;

$tittle-easy-size:2.4rem;
$tittle-easy-line:1.26;



/**************************** TEXT ****************************
*/

$text-middle-size:1.8rem;
$text-middle-line:1.56;

$text-normal-size:1.6rem;
$text-normal-line:1.75;

